In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("deliveries.csv")
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [3]:
df.shape

(179078, 21)

In [4]:
#find the Top 10 batsman in term of runs
df.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [64]:
#find the name of the batsman with max no of six
df[df['batsman_runs']==6].groupby('batsman')['batsman'].count().sort_values(ascending=False).head(10)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
V Kohli           191
DA Warner         181
SR Watson         177
KA Pollard        175
YK Pathan         161
Name: batsman, dtype: int64

In [6]:
df['batsman_runs']==6

0         False
1         False
2         False
3         False
4         False
          ...
179073    False
179074    False
179075    False
179076    False
179077    False
Name: batsman_runs, Length: 179078, dtype: bool

In [7]:
mask = df[df['over'] > 15]

In [8]:
mask2 = mask[(mask['batsman_runs']==4) | (mask['batsman_runs']==6)]

In [9]:
mask2.groupby('batsman').count().sort_values('batsman_runs',ascending=False)

,match_id,inning,batting_team,bowling_team,over,ball,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
batsman,,,,,,,,,,,,,,,,,,,,
MS Dhoni,340,340,340,340,340,340,340,340,340,340,340,340,340,340,340,340,340,0,0,0
AB de Villiers,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,0,0,0
RG Sharma,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,208,0,0,0
KA Pollard,206,206,206,206,206,206,206,206,206,206,206,206,206,206,206,206,206,0,0,0
V Kohli,160,160,160,160,160,160,160,160,160,160,160,160,160,160,160,160,160,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KC Cariappa,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
Shivam Sharma,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
Shoaib Malik,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
T Curran,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
KJ Abbott,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0

In [10]:
mask2.groupby('batsman')['batsman'].count().sort_values(ascending=False).head()

batsman
MS Dhoni          340
AB de Villiers    208
RG Sharma         208
KA Pollard        206
V Kohli           160
Name: batsman, dtype: int64

In [130]:
#find V kohli's record against all teams
x = df[df['batsman']=='V Kohli'].groupby('bowling_team').sum().reset_index().sort_values('batsman_runs',ascending=False)
x.head()

,bowling_team,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
3,Delhi Daredevils,724543,855,5654,1905,0,13,0,11,2,0,763,26,789
0,Chennai Super Kings,632494,896,5830,2230,0,14,4,8,2,0,749,28,777
7,Kolkata Knight Riders,1958511,774,4740,1780,0,3,0,6,1,0,675,10,685
5,Kings XI Punjab,1197094,665,4043,1749,0,17,0,3,5,0,636,25,661
8,Mumbai Indians,1296230,755,4638,1679,0,17,0,5,2,0,628,24,652

In [157]:
#function for highest score of any batsman in ipl
def high(p):
    x = df[df['batsman']==p]
    return x.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [158]:
high('V Kohli')

113